<%- include partials/header.ejs %> <%- include partials/nav.ejs %>
<div class="row">
  <aside>
    <!-- Wikipedia description of a camera -->
    <h2>Cameras</h2>
    <p>
      A camera is an optical instrument to capture still images or to record moving images, which are stored in a
      physical medium such as in a digital system or on photographic film. A camera consists of a lens which focuses
      light from the scene, and a camera body which holds the image capture mechanism.
      The still image camera is the main instrument in the art of photography and captured images may be reproduced
      later as a part of the process of photography, digital imaging, photographic printing. The similar artistic fields
      in the moving image camera domain are film, videography, and cinematography.
    </p>
    <h2>Learn More</h2>
    <a href="https://en.wikipedia.org/wiki/Camera">
      Wikipedia</a>
  </aside>
  <br />

  <section>
    <div class="placeholder main">
      <h3>
        <a
          href="https://www.amazon.com/Panasonic-Mirrorless-Digital-14-42mm-45-150mm/dp/B07887SCFK/ref=gbps_img_m-9_475e_9dbe7305?smid=ATVPDKIKX0DER&pf_rd_p=5d86def2-ec10-4364-9008-8fbccf30475e&pf_rd_s=merchandised-search-9&pf_rd_t=101&pf_rd_i=15529609011&pf_rd_m=ATVPDKIKX0DER&pf_rd_r=3KA8FP5E845NKCDRT757">PANASONIC
          LUMIX G7</a>
      </h3>
      <img src="img/Item1.jpg" height="100px" />
    </div>
    <p>
      <!-- Details from Amazon -->
      Photo and Video Capability: 16 Megapixel micro Four Thirds sensor confidently captures sharp images with a High
      Dynamic Range (HDR)
      4K Capture: 4K Ultra HD video recording (3840 x 2160) plus 4K photo pause and save frame that extracts individual
      high-resolution photos from 4K Ultra HD video
      Intuitive Controls: Easily control aperture and shutter speed settings with the front and rear dials while making
      white balance and ISO adjustments on the fly; Assign favorite settings to any of the six function buttons (6 on
      body, 5 on menu)
      High-Resolution Viewfinder and LCD Display: High-resolution (2,360k-dot) OLED live view finder and rear
      touch-enabled 3-inch tilt/swivel LCD display (1,040-dot) are clear even in bright sunlight
      Two Lens Bundle Value: LUMIX G Vario 14-42mm, F3.5-5.6 II ASPH and LUMIX G Vario 45-150mm, F4.0-5.6
    </p>
    <div class="placeholder main">
      <h3>
        <a
          href="https://www.amazon.com/AbergBest-Rechargeable-Digital-Students-cameras/dp/B078YR3MNK/ref=sr_1_7?keywords=Camera&qid=1571172370&s=electronics&sr=1-7">AbergBest
          21 Mega Pixels 2.7" LCD Rechargeable HD Digital Camera</a>
      </h3>
      <img src="img/Item2.jpg" height="100px" />
    </div>
    <p>
      <!-- Details from Amazon -->
      Newest software is updated! The applicable uses for this digital camera: digital still images, web Cam, play back,
      video record, voice reord and so on.
      2.7" Tft LCD display show you vivid video, 550mAh lithium Ion (li-ion) rechargeable battery can Support camera
      works more than 60 minutes.
      21 Mega pixels resolution for good capture, create your HD masterpiece! Support external-memory max 64G SD card,
      SD card not included in the package box , customers need to buy certified brand SD card, we recommend that you use
      32GB to 4GB, Memory Card Speed: Class 4 above，SD card needs to be formatted before using.
      Anti-shake, face detect, smile capture, continue shot, self timer, 8x digital zoom, photags express software for
      photo editing, printing, and sharing with e-mails, etc.
      Satisfaction , you'll love this video camera digital or you'll get your money back!
    </p>
  </section>
</div>
<%- include partials/footer.ejs %>