<%- include partials/header.ejs %>
<%- include partials/nav.ejs %>
<div class="row">
    <aside>
        <h2>About Jacob</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum orci augue, consectetur a porta ac, dignissim et massa. In hac habitasse platea dictumst. Nam scelerisque elit eget turpis consectetur, sed dapibus tortor laoreet. Curabitur dapibus, odio in condimentum dapibus, diam metus efficitur nulla, ut finibus enim tortor vel ante. Ut iaculis lectus a ex convallis, in commodo nisl porttitor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec semper sagittis facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pellentesque eu massa vitae rutrum.</p>

    </aside>
    <br>
    
    <section>
            <div class="placeholder main">
                <h3><a href="https://www.amazon.com/Panasonic-Mirrorless-Digital-14-42mm-45-150mm/dp/B07887SCFK/ref=gbps_img_m-9_475e_9dbe7305?smid=ATVPDKIKX0DER&pf_rd_p=5d86def2-ec10-4364-9008-8fbccf30475e&pf_rd_s=merchandised-search-9&pf_rd_t=101&pf_rd_i=15529609011&pf_rd_m=ATVPDKIKX0DER&pf_rd_r=3KA8FP5E845NKCDRT757">PANASONIC LUMIX G7</a></h3>
                <img src="img/Item1.jpg" height="150px">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut lacinia odio. Cras at lorem pharetra, pharetra justo eget, fermentum dui. Proin vulputate elit a imperdiet hendrerit. Donec venenatis libero quis risus rhoncus gravida. Mauris ut justo vel odio aliquet auctor vitae tristique turpis. Curabitur pulvinar tempus risus non tincidunt. </p>
            <div class="placeholder main">
                <h3><a href="https://www.amazon.com/AbergBest-Rechargeable-Digital-Students-cameras/dp/B078YR3MNK/ref=sr_1_7?keywords=Camera&qid=1571172370&s=electronics&sr=1-7">AbergBest 21 Mega Pixels 2.7" LCD Rechargeable HD Digital Camera</a></h3>
                <img src="img/Item2.jpg" height="150px">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut lacinia odio. Cras at lorem pharetra, pharetra justo eget, fermentum dui. Proin vulputate elit a imperdiet hendrerit. Donec venenatis libero quis risus rhoncus gravida. Mauris ut justo vel odio aliquet auctor vitae tristique turpis. Curabitur pulvinar tempus risus non tincidunt. </p>
    </section>
</div>
<%- include partials/footer.ejs %>
