<%- include partials/header.ejs %> <%- include partials/nav.ejs %>
<div class="row">
  <aside>
    <h2>Cellphones</h2>
    <p>
      A mobile phone, cell phone, cellphone, or hand phone, sometimes shortened to simply mobile, cell or just phone, is
      a portable telephone that can make and receive calls over a radio frequency link while the user is moving within a
      telephone service area. The radio frequency link establishes a connection to the switching systems of a mobile
      phone operator, which provides access to the public switched telephone network (PSTN). Modern mobile telephone
      services use a cellular network architecture, and, therefore, mobile telephones are called cellular telephones or
      cell phones, in North America. In addition to telephony, 2000s-era mobile phones support a variety of other
      services, such as text messaging, MMS, email, Internet access, short-range wireless communications (infrared,
      Bluetooth), business applications, video games, and digital photography. Mobile phones offering only those
      capabilities are known as feature phones; mobile phones which offer greatly advanced computing capabilities are
      referred to as smartphones.
    </p>
    <h2>Learn More</h2>
    <a href="https://en.wikipedia.org/wiki/Mobile_phone">
      Wikipedia</a>
  </aside>
  <br />
  <section>
    <div class="placeholder main">
      <h3>
        <a
          href="https://www.amazon.com/Samsung-Factory-Unlocked-Caribbean-SM-J260M/dp/B07H8Q3C9T/ref=sr_1_6?keywords=cellphone&qid=1574381973&sr=8-6">Samsung
          Galaxy J2 Core</a>
      </h3>
      <img src="img/Item3.jpg" height="100px" />
    </div>
    <p>
      Dual Nano Sim 4G LTE Unlocked Any GSM Carrier GSM (NOT FOR VERIZON SPRINT NET10 OR ANY CDMA CARRIER)
      Bands: B1(2100), B2(1900), B3(1800), B4(AWS), B5(850), B7(2600), B8(900), B17(700), B28(700) 3G UTMS B1(2100),
      B2(1900), B4(AWS), B5(850), B8(900)
      Android 8 Oreo (Go edition) 8mp Flash Rear Camera + 5Mp Front Camera
      Quad Core 1. 4GHZ / 8GB (4. 1GB USER) 1GB Ram Support Micro SD Up to 256 gb (not included)
      5. 0 inch 540 x 960 (qHD) Factory Unlocked International Version Latin Specs
    </p>
    <div class="placeholder main">
      <h3>
        <a
          href="https://www.amazon.com/Huawei-Honor-Factory-Unlocked-Smartphone/dp/B07L14D7F7/ref=sr_1_11?keywords=cellphone&qid=1574382041&sr=8-11">Huawei
          Honor 8X</a>
      </h3>
      <img src="img/Item4.jpg" height="100px" />
    </div>
    <p>
      4G LTE bands 1(2100), 2(1900), 3(1800), 4(1700/2100), 5(850), 7(2600), 28(700), 4G LTE TDD: B41, 3G WCDMA:
      B1/B2/B4/B5/B8, 2G GSM: B2/B3/B5/B8 - Dual SIM (Nano-SIM, dual stand-by) Check compatibility with your carrier
      before purchase. North and South American 4G LTE Compatible
      6. 5-inch Borderless full view display 1080 x 2340 pixels, 19. 5: 9 ratio (~397 pip density) - Glass Body with
      Visual Grating Effect
      64GB + 4GB RAM - micros, up to 400 GB (dedicated slot) - Kirin 710 powerful chipset - Non-removable Li-Po 3750
      mash battery - GPU Turbo
      Rear (MAIN) Camera: 20MP AI Camera , depth sensor - Front Camera: 16MP selfie camera - Face Unlock
      Compatible with GSM Carriers like AT&T, T-Mobile, Metrics, Straight Talk, etc. Does NOT work with
      Verizon/Sprint/Boost. International model, Does not have US .
      Bluetooth BT4.2 + BLE
    </p>
  </section>
</div>
<%- include partials/footer.ejs %>