<%- include partials/header.ejs %>
<%- include partials/nav.ejs %>
<div class="row">
    <aside>
        <h2>About Jacob</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum orci augue, consectetur a porta ac, dignissim et massa. In hac habitasse platea dictumst. Nam scelerisque elit eget turpis consectetur, sed dapibus tortor laoreet. Curabitur dapibus, odio in condimentum dapibus, diam metus efficitur nulla, ut finibus enim tortor vel ante. Ut iaculis lectus a ex convallis, in commodo nisl porttitor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec semper sagittis facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pellentesque eu massa vitae rutrum. Aliquam aliquam sem a enim pulvinar pulvinar. Proin ut neque a ligula feugiat mollis sed vitae urna. Nam pharetra diam in ipsum porttitor feugiat. Sed tincidunt fermentum nibh, vitae rutrum quam sodales vel. Nullam convallis metus ac nisi bibendum fermentum. Nullam et posuere justo. </p>
        <h3>More About Jacob</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus urna vitae eleifend auctor. Ut auctor, magna vitae fermentum suscipit, nulla erat vehicula lectus, et pellentesque massa nunc quis arcu. In in porta lectus. Duis vitae pretium orci, et eleifend lectus. Etiam pellentesque gravida urna, sed tristique magna elementum sed. Phasellus hendrerit, dui eu gravida porttitor, elit augue congue quam, eget commodo nunc erat ut dolor. Ut et diam at odio tristique condimentum. Curabitur scelerisque nisl ut erat iaculis, sit amet pharetra sem porttitor. Sed scelerisque arcu at lacus facilisis, quis dignissim elit consectetur. Donec vitae lorem scelerisque, vestibulum magna at, lacinia augue. Curabitur id purus arcu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse eget purus venenatis, vestibulum eros luctus, pharetra felis. Maecenas imperdiet felis auctor, convallis tortor nec, mollis quam. </p>
    </aside>
    <br>
    <section>
        <h2>Heading 1</h2>
        <div class="placeholder main"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut lacinia odio. Cras at lorem pharetra, pharetra justo eget, fermentum dui. Proin vulputate elit a imperdiet hendrerit. Donec venenatis libero quis risus rhoncus gravida. Mauris ut justo vel odio aliquet auctor vitae tristique turpis. Curabitur pulvinar tempus risus non tincidunt. </p>
        <h2>Heading 2</h2>
        <div class="placeholder main"></div>
        <form><!--action="contact" method="POST"-->
            <fieldset>
                <label for="username"><strong>Username:</strong></label>
                <input type="text" name="username" id="" placeholder="Username" required>
                <br>
                <label for="message"><strong>Message:</strong></label>
                <input type="text" name="message" id="" placeholder="Message" required>
                <br>
                <input value="Submit" id="button" type="submit">
            </fieldset>
        </form>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut lacinia odio. Cras at lorem pharetra, pharetra justo eget, fermentum dui. Proin vulputate elit a imperdiet hendrerit. Donec venenatis libero quis risus rhoncus gravida. Mauris ut justo vel odio aliquet auctor vitae tristique turpis. Curabitur pulvinar tempus risus non tincidunt. </p>
    </section>
</div>
<script src="/js/main.js"></script>
<%- include partials/footer.ejs %>
    