<%- include partials/header.ejs %> <%- include partials/nav.ejs %> <!--Nav and header used from Partials folder.-->
<div class="row">
  <section>
    <h2>Need to Contact us?</h2>
    <div class="placeholder main">
      <br />
      <form>
        <!--action="contact" method="POST"-->
        <fieldset>
          <label for="username"><strong>Username:</strong></label>
          <input
            type="text"
            name="username"
            id=""
            placeholder="Username"
            required
          />
          <br />
          <label for="message"><strong>Message:</strong></label>
          <input
            type="text"
            name="message"
            id=""
            placeholder="Message"
            required
          />
          <br />
          <input value="Submit" id="button" type="submit" />
        </fieldset>
      </form>
    </div>
  </section>
</div>
<script src="/js/main.js"></script>
<%- include partials/footer.ejs %>
