<!--<form action="/login" method="POST">
    <fieldset>
        <legend>Login</legend>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required />
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required />
        <input type="submit" value="Submit">
    </fieldset>
</form>-->

<form name="loginForm" method="post" action="home">
  <table width="20%" bgcolor="0099CC" align="center">
    <tr>
      <td colspan="2">
        <center>
          <font size="4"><b>Login Page</b></font>
        </center>
      </td>
    </tr>

    <tr>
      <td>Username:</td>
      <!-- Input box for Username -->
      <td><input type="text" size="25" name="userid" required /></td>
    </tr>

    <tr>
      <td>Password:</td>
      <!-- Input box for Password -->
      <td><input type="Password" size="25" name="pwd" required /></td>
    </tr>

    <tr>
      <td><input type="Reset" /></td>
      <td><input type="submit" value="Login" /></td>
    </tr>
  </table>
</form>
