<form action="/login" method="POST">
    <fieldset>
        <legend>Login</legend>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" />
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" />
        <input type="submit" value="Submit">
    </fieldset>
</form>